---
title: Daniel Jost's Musings
layout: layouts/home.njk
description: A blog by the illustrious Daniel Jost featuring high quality thoughts about technology.
image: https://res.cloudinary.com/danieljost/image/upload/v1382033837/photo3-2_ccrinp.jpg
date: Last Modified
---

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
